// COLOR VARIABLES
// FONT VARIABLES

$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;
$color-grey-dark-2: rgb(26, 18, 19);
$color-grey-dark-3: rgba(59, 10, 10, 0.445);
$color-grey-light-1: rgba(233, 219, 219, 0);
$bp-largest: 700px;
$bp-smallest: 531;
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  
  box-sizing: border-box;
  font-size: 62.5%; 
  @media only screen and(max-width:$bp-largest) {
    font-size: 50%;
  }
  @media only screen and(max-width:$bp-largest) {
    font-size: 30%;
  }
 
}

body {
  font-family: $font-display;
  font-weight: 300;
  line-height: 1.6;
  font-size: 2rem;
  margin: 0;

}

.container {
  min-width: 100%;
  height: auto;
  position: relative;
width: 100%;
height: 70vh;
position: relative;



  &:after {
    content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
   background: linear-gradient(
         90deg,
         rgba(50, 56, 122, 0.9794292717086834) 27%,
         rgba(57, 54, 105, 1) 65%,
         rgba(70, 93, 98, 1) 98%
       );
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 60%, 8% 67%, 14% 72%, 22% 74%, 30% 75%, 39% 72%, 44% 66%, 50% 60%, 55% 54%, 61% 51%, 71% 50%, 79% 51%, 85% 53%, 90% 56%, 97% 58%, 100% 58%, 100% 0%, 0% 0%);
  }
}


.Maps {

div {
  div{
    height: 30%;
  }
}
}