*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 700px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 700px) {
    html {
      font-size: 30%; } }

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: 2rem;
  margin: 0; }

.container {
  min-width: 100%;
  height: auto;
  position: relative;
  width: 100%;
  height: 70vh;
  position: relative; }
  .container .MuiAppBar-positionFixed {
    position: sticky;
    grid-column: center-start/center-end;
    display: grid; }
  .container:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(50, 56, 122, 0.979429) 27%, #393669 65%, #465d62 98%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 60%, 8% 67%, 14% 72%, 22% 74%, 30% 75%, 39% 72%, 44% 66%, 50% 60%, 55% 54%, 61% 51%, 71% 50%, 79% 51%, 85% 53%, 90% 56%, 97% 58%, 100% 58%, 100% 0%, 0% 0%); }

.Maps div div {
  height: 30%; }

.retroClass {
  grid-column: col-start / col-end 4; }

.makeStyles-media-2 {
  height: 0; }
