*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 700px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 700px) {
    html {
      font-size: 30%; } }

body {
  font-weight: 300;
  font-size: 2rem;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em; }

.container {
  min-width: 100%;
  height: auto;
  position: relative;
  width: 100%;
  height: 70vh;
  position: relative; }
  .container .MuiAppBar-positionFixed {
    position: sticky;
    grid-column: center-start/center-end;
    display: grid; }
  .container .col-md-4 {
    max-width: 10%; }
  .container:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%; }

.Maps div div {
  height: 30%; }

.retroClass {
  display: flex;
  grid-column: center-start/center-end;
  justify-content: "center"; }

.makeStyles-media-2 {
  height: 0; }

div.retroClass_Details:last-child {
  grid-column: col-start / col-end 2; }

div.retroClass_Details:nth-of-type(2) {
  grid-column: col-start 2 / col-end 8; }

.MuiPaper-elevation1 {
  box-shadow: none; }

contentcard
.MuiTypography-h5 {
  display: flex;
  justify-content: center; }

.retroClass_Details_Right {
  display: grid;
  grid-column: col-start / col-end;
  grid-template-columns: 1fr 2fr; }
  .retroClass_Details_Right:first-child {
    grid-column: col-start 6/ col-end 7; }

div.MuiListItemText-multiline {
  display: grid; }

.MuiCardContent-root:last-child h6 {
  margin-left: 7rem;
  font-size: 1.2rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.334; }

.MuiTypography-body1 {
  font-size: 1.3rem; }
